* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
.hideElement {
    display: none;
    color: red;
}
.showElement {
    display: block;
}
h1 {
    text-decoration: bold;
    color: red
}

.main {
    border: 2px solid red;
    width: 60%;
    padding: 2vw auto;
    background-color: #cbff65;
    text-align: center;
    margin: auto;
}

.submit {
    color: #000;
    background-color: #ff8b22;
    padding: 7px 23px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.submit :hover {
    color: #cbff65;
}

#name,#password{
    border-radius: 5px;
    width: 20vw;
    height: 2vw;
}