* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}

body {
    align: center;
}

h1 {
    text-decoration: bold;
    color: red
}

.main {
    border: 2px solid red;
    width: 60%;
    padding: 2vw auto;
    background-color: #cbff65;
    text-align: center;
    margin:auto ;
}

.sumbit {
    color: #000;
    background-color: #ff8b22;
    padding: 7px 23px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}